@import url('https://fonts.googleapis.com/css3?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background: #ece6d9;
}

@font-face {
  font-family: HyliaSerif;
  src: url("hyliaserif.ttf") format("opentype");
}

h1 {
  font-family: HyliaSerif;
  letter-spacing: 1px;
}